@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @if (!IsLoginOrRegisterPageOrDashBoard())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsLoginOrRegisterPageOrDashBoard()
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri).ToLower();
        return relativePath == "login" || relativePath == "register" || relativePath == "admin";
    }
}