<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile">
                <span class="oi oi-person" aria-hidden="true"></span> Hồ sơ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/other-users">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Xem thành viên
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/change-password">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Đổi mật khẩu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Đăng xuất
            </NavLink>
        </div>
    </nav>
</div>